body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    background: #9eb8d21f;
    color: #4c4c51!important;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4c4c51;
    font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
}
*{
    transition: all 0.1s ease-in-out;
}
@media (min-width: 768px){
.modal-dialog {
    width: 700px;
 }
}
.box{
    background: none;
}
/**********************Navbar**************/
.navbar-brand .logo, .navbar-brand .logo-alt {
    width: 120px;
    margin-top: 0px;
    margin-left: 8px
}
img.setting{
    margin-top: 12px;
}
@media(max-width: 767px)
{
  img.setting{
    margin-top: 10px;
    margin-left: 14px;
 }
}
#nav li img{
     width: 19px;
    margin-bottom: 0px;
    height: 19px;
}
#nav li img.avatar{
    border-radius: 50%;
    object-fit: cover;
}
li.notif img{
    margin-top: -3px;
}
.main-nav>li>a.freezoner,#nav.nav-transparent:not(.fixed-nav) .main-nav>li>a.freezoner{
    color: #000000;
}
.main-nav>li>a.freezoner:before,#nav.nav-transparent:not(.fixed-nav) .main-nav>li>a.freezoner:before,.main-nav>li>a.freezoner:after,#nav.nav-transparent:not(.fixed-nav) .main-nav>li>a.freezoner:after{
    color: #fff;
}
.seperator{
    padding: 0;
    height: 40px;
    width: 1px;
    background: #fff;
    margin-top: 10px;
}
@media(min-width: 768px) and (max-width: 1199px)
{
    .navbar-brand .logo, .navbar-brand .logo-alt {
        width: 150px;
        margin-top: 14px;
    }
    .main-nav li a {
      font-size: 9px;
    }
    .main-nav li {
      padding: 0px 2px;
    }
}


/*******************Form 1*****************/

img.tatweer-logo{
    max-width: 330px;
}
h3.form-title{
    color: #f8f8f8;
    font-size: 22px;
}
label{
    font-size: 15px;
    margin: 0;
    font-weight: 400;
}
.login .has-feedback .form-control ,.signup .has-feedback .form-control  {
    padding-right: 42.5px;
    border-radius: 20px;
    padding: 15px;
}

.btn-primary{
    background: #000000
}
.color{
color:  #000000;
}
a:hover{
    color: #000000;
}

.parent{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px
}
.hr_form{
    min-height: 1380px;
}
.form1 h5{
    color: #999;
    font-weight: 200;
    line-height: 1.42857143;
    font-size: 14px;

}
.form1 h3{
    margin-top: 20px;
    padding: 10px;
    background: #000000;
    color: #fff;
    line-height: 1.42857143;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea.form-control{
    border: 1px solid #ccc;
    opacity: 1;
}
input[type="submit"]{
   /* margin-bottom: 20px;*/
    padding: 7px 30px;
}
#users_form_edit input[type="submit"], #accounts_form input[type="submit"], #accounts_form_edit input[type="submit"]{
    margin-bottom: 0px;
}
#accounts_form_edit a.background-color{
    margin-left: 10px;
}
.users-form form h4{
    font-weight: 500;
}
.form-control{
    box-shadow: none;
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.background-color{
    background: #000000;
    color: #fff;
    border: none;
}
.background-color:hover,.background-color:focus,.background-color:active{
    background: #000000;
    color: #fff;
    border: none;
}
select.form-control{
    color: #a29c9c;
    height: 40px;

}
table td{
    position: relative;
}
#show,input.actions{
        padding-left: 10px;
        background: #fff;
        border: 1px solid #000000;
        margin-bottom: 0;
}
input.actions.form-control[readonly]{
    background: #fff;
    font-size: 1.2rem;
}
#show-list,.actions-list{
    position: absolute;
    height: auto;
    min-height: 45px;
    background: #fff;
    border: 1px solid #5c5d5e52;
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}
.actions-list{
    height: auto;
    width: auto;
    min-height: 30px;
    background: #fff;
    border: 1px solid #5c5d5e52;
    border-radius: 5px;
    padding: 5px;
    /* top: 45px; */
    margin-top: 5px;
    width: 85%;
    z-index: 2;
    left: 13px;
    width: auto;
    z-index: 2;
    float: left;
}
.actions.togg {
    font-size: 19px;
    cursor: pointer;
    font-weight: 900;
}
.pseudo{
        left: 16%;
}
@media(max-width: 767px)
{
    #show-list,.actions-list{
        width: 94%;
    }
}
#show-list ul li,.actions-list ul li{
    padding-top: 4px;
    cursor: pointer;
}
.actions-list ul li{
    text-align: center;
}
#show-list ul li:hover,.actions-list ul li:hover{
    color: #000000;
}

.show-list-parent i.fa-angle-down, .actions-list-parent i.fa-angle-down{
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 20px;
    font-weight: 200;
    width: 26px;
    height: 37.5px;
    padding-right: 2px;
    padding-top: 10px;
    padding-left: 6px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    right: 16px;
}
.actions-list-parent i.fa-angle-down{
    right: 6px;
}
.actions-list-parent{
    position: relative;
    min-width: 90px;
}
#input-search{
    position: relative;box-shadow: none;background: #fff;padding: 0px 40px;
    padding-right: 10px;
    border: 1px solid #000000;
}

@media(max-width: 400px)
{

    #input-search{
        font-size: 1.4rem;
    }
}
.fa-search{
    position: absolute;
    top: 1px;
    height: 37.5px;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
div.alert-success,div.alert-danger,div.alert-info{
    margin-top: 20px;
    padding: 40px;
    word-break: break-word;
}
.alert-success{
    color: #3c763d;
    background-color: #dff0d8b8;
    border-color: #dff0d8b8;
    border-left: 3px solid #3c763d;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dedebd;
    border-color: #f2dedebd;
    border-left: 3px solid #a94442;
}
.alert-info{
   border-left: 3px solid #31708f;
}
.green{
   color: #3c763d;
   font-weight: 700;
}
.red{
    color: #a94442;
    font-weight: 700;
}
/****************tasks page*******************/
.task_form{
    background: #fff;
    min-height: 195px;
    padding-left: 40px;
    padding-right: 40px;
}
thead{
   background: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
img.plus{
    margin-bottom: 15px;
    cursor: pointer;
    background: #fff;
    padding: 6px;
    width: 100%;
    height: 37.5px;
    border-radius: 3px;
    border: 1px solid #000000;
}
/******************* HR Page ****************/
#uploadImg{
	border-radius: 5px;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    display: inline-block;
    opacity: 1;
    position: relative;
    margin: auto;
    -webkit-clip-path: none;
    clip-path: none;
    transform: scale(1);
    margin-bottom: 10px;
    height: 70px;
}
label.passport{
    text-align: center;
    cursor: pointer;
}
.modal-footer {
    border: none;
}
/*************Notification Page***********/
.notification .panel-heading{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.notification .panel .panel-heading h3{
    margin-bottom: 0;
    color: #4c4c51;
}

.notification .panel-body{
    padding: 0px;
}
.notification .panel .panel-body .notify{
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 20px;
    min-height: 100px;
    clear: both;
    border: 1px solid #bbb8b840;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #f8f8f8;
}
.notification .panel .panel-body .notify:hover{
    border: 1px solid #000000;
    transition: border .25s;
}
.notification .panel .panel-body .notify .img-div,.notification .panel .panel-body .notify a,
.notification .panel .panel-body .notify i{
    display: inline;
    line-height: 2rem!important;
    float: left;
}
.notification .panel .panel-body .notify a{
    line-height: 2rem!important;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 1.4rem;
    color: #4c4c51;
    width: 75%;
}
.notification .panel .panel-body .notify .img-div{
    margin-right: 12px;
    width: 85px;
}
.notification .panel .panel-body .notify .img-div img{
        width: 60px;
}
.notification .panel .panel-body .notify i.glyphicon-option-horizontal{
    cursor: pointer;
    font-size: 22px;
}
.notification .panel .panel-body .notify .list{
    position: absolute;
    right: 45px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    line-height: 2rem!important;
    font-size: 1.4rem;
    cursor: pointer;
}
.notification .panel .panel-body .notify .list ul li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: rgba(0,0,0,.9);
}
.notification .panel .panel-body .notify .list ul li:last-of-type{
    border-bottom: none;
}
.notification .panel .panel-body .notify .list img{
    width: 25px;
    cursor: pointer;
    margin-right: 10px
}
/********** Home Page ***********/
.home{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    height: auto;
    background: #fff;
}

.profile .cover{
    height: 60px;
    background: #000000;
}
.profile label{
    margin: auto;
    position: relative;
        margin-top: -34px;
}
.profile .camera-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 6px;
    border: 1px solid #ccc;
    margin: auto;
    margin-right: 0;
    background: #fff;

}
img.profile-image#uploadImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile label span{
    font-size: 12px;
    cursor: pointer;
}
.home.profile hr{
        border: 1px solid #eee;
        margin-top: 20px;
        margin-bottom: 0px;
}
.profile a{
    float: left;
    padding: 7px;
    font-size: 1.2rem;
    line-height: 1.33333;
    font-weight: 600;
    text-align: left;
    width: 100%;
}
.profile a:hover{
    text-decoration: underline;
}
.profile a span{
    color: rgba(0,0,0,.6);
    font-size: 1.2rem;
}
.profile img.bookmark{
    width: 16px;
    margin-right: 10px;
}
.profile .save-items{
    border-top: 1px solid #ddd;
    width: 100%;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.activities a{
    width: 100%;
    display: block;
    text-align: left;
    padding: 7px;
    font-size: 1.2rem;

}
.activities a span{
    color: rgba(0,0,0,.6);
}
.activities a:hover{
    background: #eee
}
.activities a.events{
    color: rgba(0,0,0,.6);
    font-size: 1.2rem;
}
.activities a span{
    float: right;
    color: rgba(0,0,0,.6);
    font-size: 1.2rem;
}
.activities a.discover{
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: rgba(0,0,0,.6);;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.leads{
    padding: 10px 7px;
    color: rgba(0,0,0,.6);
    font-size: 1.2rem;;

    margin-bottom: 20px;
}
.leads a{
        padding: 7px;
}
.notifications{
    padding: 7px;
    padding-left: 25px;
    margin-bottom: 0;
}
.notifications ul li{
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 3px;
}
.home.notifications ul li a{
    color: #4c4c51!important;
    color: #4c4c51;
    word-break: break-all;
}
.notifications ul li:before{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #6195FF;
    position: absolute;
    margin-left: -15px;
    margin-top: 7px;

}
.notifications ul li span.date{
    color: #b7b5b5;
    font-size: 11px
}
.home.search input#search{
    border-radius: 0;
    height: 70px;
    border: none;
    margin: 0;
}
.home.search .fa-search{
    position: absolute;
    top: 1px;
    right: 16px;
    left: auto;
    background: #f8f8f8;
    height: 70px;
    padding: 27px 24px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 22px;
}
/****************Company Asset Page**************/
@media(min-width: 768px)
{
    .asset-form .form-group{
      width: 20%;
    }
}

.xs-padding{
    padding-top: 30px;
    padding-bottom: 30px;
}
.xxs-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.unstyled-list{
    list-style: none;
}
/**********************Single Page***************/
.profile-img-parent{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
img.profile-img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.blue{
    color: mediumblue;
}
.single .profile-img-parent h3{
   font-size: 17px;
   font-style: italic;
   font-variant: all-petite-caps;
   font-weight: 600;
   margin-bottom: 15px;
   color: #000000;
   word-break: break-all;
}


.bg-blue{
    background: #9eb8d21f;
}
.bg-white{
    background: #fff;
}
.single{
    border-radius: 5px;
    box-shadow: 0 0 9px 9px rgba(148, 144, 144, 0.1);
}
.single .btn-primary{
    margin-top: 20px;
}
.single .row-data{
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
}

.single .row-data:last-of-type{
    border-bottom: none;
}
.single .row-data h4{
    color: #868f9b8a;
    margin-bottom: 0px;
    font-weight: 200;
    text-transform: uppercase;
        line-height: 2.4;
}
 .data{
    display: inline;
    float: left;
    width: 33%;
    word-break: break-word;
    line-height: 2.4;
    padding-right: 5px;
}
.single .row-data.deliverables .data{
    width: 20%;
    padding-right: 10px;
    line-height: 2;
}
.single .row-data.collections .data {
    width: 19.6%;
}
.single .row-data.deliverables .data a.document{
    background: #000000;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
}
@media(max-width: 767px)
{
    .row-data .data{
        width: 50%;
   }
}

.single .row-data .data .field{
    text-transform: capitalize;
    font-weight: 600;
}
.single .row-data .data .field-value{
    color: #10161A;
}
.border-left{
    border-left: 1px solid #eee;
}
@media(max-width: 767px)
{
    .single .border-left{
      border-left: none;
   }
}

.no-padding{
    padding: 0;
}
@media(max-width: 767px)
{
    .no-padding{
        padding-right: 15px;
        padding-left: 15px;
    }
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.alert-danger ul li,.alert-success ul li{
    font-weight: 500;
}
input[type="submit"].no-margin{
    margin: 0;
}

textarea{
    resize: none
}
button.form-control, input[type="submit"].form-control{
    margin-bottom: 0;
}
.display-block{
    display: block!important;
}
/********************Report Page********************/
.report_panel button{
  margin-bottom: 20px;
  margin-top: 20px;
}
.no-left-right-padding{
    padding-left: 0;
    padding-right: 0;
}
.export_icons img{
    width: 25px;
    display: inline;
    display: inline;
    margin: 5px;
    cursor: pointer

}
.self_assign select.form-control,.self_assign textarea{
        margin-top: 24px;
}

.table-striped>tbody>tr:nth-of-type(even){
        background: #d2d1c608;
}
table.custom thead > th{

    padding: 10px 7px;
}
table{
    font-size: 1.2rem;
}

input.country_code{
     border-radius: 4px 0 0 4px;
}
.glyphicon-menu-down {
    position: absolute;
    top: 13px;
    right: 8px;
    font-size: 14px;
    cursor: pointer;
}
input.phone {
    border-radius: 0 4px 4px 0;
}
.country_code_list {
    text-align: left;
    padding: 10px;
    border: 1px solid #777;
    cursor: pointer;
    height: 300px;
    overflow-y: scroll;

    position: absolute;
    z-index: 99;
    background: #fff;
    margin-top: 40px;
}
.plus-phone.glyphicon-plus,.glyphicon-plus.plus-email{
    position: absolute;
    right: 17px;
    top: 1px;
    background: #ddd;
    padding: 11px 5px;
    cursor: pointer;
    color: #333;
    height: 38px;
}
.glyphicon-plus.plus-email{
    right: 16px;
}

@media(max-width: 767px)
{
    .glyphicon-plus.plus-email {
        top: -15px;
    }
}
table{
        border: 1px solid #ccc;
}
.lead_new_activity{
    margin-bottom: 15px;
    border-radius: 4px;
}
.prospects-form .background-color{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
}
.grid #import_form{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.grid #import_form label span{
    font-size: 1.4rem;
    color: #6b6b6bab;
    font-weight: 400;
}
@media(max-width: 767px)
{
    .grid #import_form label span{
        /*font-size: 12px;*/
    }
}
.grid #import_form #import_btn{
    font-size: 15px;
    border: none;
    color: #7b7b7b;
    background: #fff;
    width: 50%;
    right: 16px;
    float: right;
    position: absolute;
    top: 1px;
    height: 38px;
    border-radius: 0 4px 4px 0;
    width: 42%;
    box-shadow: none;
    border-left: 1px solid #000000;
}

@media(min-width: 768px) and (max-width: 1200px)
{
    .grid #import_form #import_btn
    {
      padding: 0;
    }
}
.grid .export_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer
}
.grid .export_icons,.grid form#import_form{
    background: #fff;
    padding: 3px;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 40px;
    width: 100%;
}
.grid form#import_form .box{
    text-align: center;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 5px;
}
.grid .export_icons span,.grid #import_form .box{
        color: #6b6b6bab;
        font-size: 1.4rem;
        background: #fff;
}
.grid .export_icons:hover,.grid .export_icons:hover span,.grid #import_form #import_btn:hover{
    background: #000000;
    color: #fff;
}

.reports-grid nav{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

/******************************* Finance Page **********************/
td.td-vat{
 min-width: 100px;
}
.border{
    border: 1px solid #ccc;
}

table.finance-table>tbody>tr:nth-of-type(even) input[type="text"], table.finance-table>tbody>tr:nth-of-type(even)  select.form-control {
    border: none;
    background: #d2d1c600;
    text-align: center;
}
table.finance-table>tbody>tr:nth-of-type(odd) input[type="text"], table.finance-table>tbody>tr:nth-of-type(odd) select.form-control, table.templates-table>tbody>tr:nth-of-type(odd) input[type="text"]{
    border: none;
    background: #fff;
    text-align: -webkit-center;
    text-align: center;
}
table.finance-table>tbody>tr.new-finance input[type="text"],table.finance-table>tbody>tr.new-finance select.form-control{
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 0;
}
table.finance-table>tbody>tr:nth-of-type(odd) .actions-list-parent input[type="text"],table.finance-table>tbody>tr:nth-of-type(even) .actions-list-parent input[type="text"], table#templates-table>tbody>tr:nth-of-type(even) .actions-list-parent input[type="text"], table#templates-table>tbody>tr:nth-of-type(odd) .actions-list-parent input[type="text"], table#templates-table>tbody>tr.new-templates input[type="text"], table.finance-table>tbody>tr.new-finance input[type="text"]{
    border: 1px solid #000000;
}
table.table.finance-table>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
}
table.table.finance-table>tbody>tr>td>button.background-color,table.table.templates-table>tbody>tr>td>button.background-color{
    display: block;
    margin: auto;
}
#finance_form input[type='submit'],#templates_form input[type='submit']
{
    margin-bottom: 0
}
/************ Home ************/
.home_leads p{
    margin-bottom: 0;
    margin-top: 10px;
}
.home_leads span{
    margin-bottom: 10px;
}
a{
    color: #015a90;
}

@media(min-width: 3000px)
{
    .main-nav li {
     padding: 0px 4px;
  }
}

table.table-responsive.no-margin-bottom, .no-margin-bottom,table.table-activities{
    margin-bottom: 0;
}

/*** For Actions list ************/
div.table-responsive{
    margin-bottom: 0;
}
div.table-responsive.custom_margin{
  margin-bottom: -90px;
}
table#table-leads,table#table-opportunities, table.table-deals, table#table-accounts, table#table-activities, table#table-contacts, table.default, table.custom, table#table-users, table#table-company-asset, table#finance-table, table#table-hr, table#templates-table, table#table-renewals{
   /* margin-bottom: 100px; */
}
input[type="submit"]#add_deal{
    margin-bottom: 0;
}
img.delete-row{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border: 0;
    margin: auto;
    cursor: pointer;
}
@media(max-width: 767px)
{
    .notification .panel .panel-body .notify .img-div {
        width: 70px;
   }
    .notification .panel .panel-body .notify a{
        width: 68%;
    }
}
table thead.background-color>tr>th>select{
    text-transform: none;
    background: #000000;
    color: #fff;
    border: 0;
    width: 100%;
}
table.background-color thead>th{
    color: #fff;
}

.notification .panel .panel-body .notify.white{
    background: #fff;
}
/************** opp page **************/
#opp_form button.background-color, #opp_form_edit button.background-color,#opp_form a.background-color, #opp_form_edit a.background-color{
 margin-left: 5px;
}
@media only screen and (min-width: 768px){
.dropdown {
    width: 160px;
 }
}
.border-top{
    border-top: 1px solid #ccc;
}

@media (min-width: 768px){
   #newaccount .modal-dialog {
        width: auto;
        margin: 40px;
    }
}

.dashboard-page .box{
        background: #ffffff
}
/*.pagination,.table{*/
.pagination{
    margin: 0;
    margin-bottom: 25px;
}
/******** for modal padding-right ***********/
body.modal-open { overflow:inherit; padding-right:inherit !important; }

@media (min-width: 768px){
    #newSourceNameContact .modal-dialog,#newSourceNameActivity .modal-dialog{
        width: auto;
        margin: 30px auto;
        padding: 0 30px;
    }
}
.table-leads .btn,.table-opportunities .btn,.table-accounts .btn,.table-accounts a,.table-deals .btn,.table-deals a, .table-activities .btn, .table-activities a, .table-contacts .btn, .table-contacts a, .table-hr .btn, .table-hr a, table.table-company-asset .btn, table.table-company-asset a, #finance-table .btn, #finance-table a, #templates-table .btn, #templates-table a, table.table-users .btn, table.table-users a{
    padding: 0 2px;
    font-size: 1.2rem;
}
form#company_asset_form input[type="submit"], form#company_asset_form_edit input[type="submit"]{
    margin-bottom: 0;
}


@media(min-width: 1200px)
{

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
       /* word-break: break-all;
        max-width: 90px; */
    }
    table thead.background-color>tr>th>select{
        max-width: 100%;
        width: 100%;
    }
}
/*
.table a{
    word-break: break-all
}
*/

/******************* checkbox ****************/
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.5px solid #c5c5c5;
    border-radius: 0;
    display: inline-block;
    width: 21px;
    height: 15px;
    padding-left: 4px;
    padding-bottom: 20px;
    margin-right: 6px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    padding-top: 0px;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #0f95d2;
  border-color: #0f95d2;
}
div.users-form form .custom-checkbox{
    margin-bottom: 5px;
}
form#users_form input[type="submit"]{
    margin-bottom: 0;
}

@media screen and (max-width: 767px){
    .table-responsive {
        border: none;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .table-responsive::-webkit-scrollbar {
        display: none;
        overflow: -moz-scrollbars-none;
        width: 0;
        height: 0;
        background: transparent; /* optional: just make scrollbar invisible */
    }

    /* Hide scrollbar for IE and Edge */
    .table-responsive {
      -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;
    }
   @-moz-document url-prefix() { .table-responsive { overflow: hidden; -ms-overflow-style: none; } }
}

.data.invoice-data{
   padding: 20px;
    min-height: 160px;
    height: auto;
    width: 150px;
    border: 1px solid #4c4c51;
    text-align: center;
    border-radius: 15px;
    margin: 3px;
}
.data.invoice-data a{
    color: #4c4c51;
}

#addnewContact .modal-dialog {
    width: 90%;
}

.cursor-context-menu{
    cursor: context-menu;
    color: #000000;
}

@media(min-width: 768px)
{
   .container {
    width: 97%;
   }
}

.border-bottom{
    border-bottom: 1px solid #eee
}
.single .row-data .border-bottom{
       padding: 5px 15px;
}

.color-white{
    color: #fff;
}
.badge-design{
    color: #fff;
    padding: 5px 12px 5px 12px;
    border-radius: 20px;
    background: #000000;
}
.badge-design:hover{
    color: #fff;
}
.custom-dropdown .panel-default{
    border-color: #ccc;
}
.custom-dropdown .panel-default .panel-header{
    padding: 8px 10px;
    cursor: pointer;
}
.custom-dropdown .panel-default .panel-body{
    border-top: 2px solid #ccc;
    height: 250px;
    text-transform: capitalize;
    overflow-y: auto;
}
.custom-dropdown .panel-default .panel-body h5{
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.tags .badge-design{
    margin: 3px;
    padding: 5px 10px 7px 10px;
        display: inline-block;
}
.glyphicon-remove-sign{
    cursor: pointer
}
.gold-color, h5.gold-color{
    font-weight: 600;
    color: #000000;
}

.table-contacts .badge-design {
    color: #fff;
    padding: 7px;
    border-radius: 20px;
    background: #000000;
    margin: 1px;
    display: inline-block;
    color: #fff;

}

.text-transform-capitalize{
    text-transform: capitalize;
}
.gold-color{
    color: #000000;
}
.actions-list ul li .btn{
    padding: 0px 12px;
    font-size: 12px;
}
.text-transform-capitalize{
    text-transform: capitalize;
    font-weight: bold;
    padding-right: 5px;
}
.tags{
    text-transform: capitalize;
}
/****************************/
table td {

    max-width: 160px;
}


/********view*******/
.inner1 .section1, .inner1 .section2, .inner1 .section3, .inner1 .section4, .inner1 .section5 {
    padding: 10px;
}

.actions-list ul{
   list-style: none;
    min-width: 25px;
    padding-bottom: 4px;
}

.modal-content h4{
    font-weight: 550;
}

p {
    color: #4c4c51;
}
.modal-content ul:not(.country_code_list), .modal-content ol{
        margin-left: 15px;
}
h6{
        margin-bottom: 10px;
}
p.badge-design{
   color: #fff!important;
}

#leadDelegation .modal-body, #leadQualification .modal-body, #leadDelete .modal-body, #oppDelete .modal-body , .response-modal .modal-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.activity_form_deliver .modal-body, .delivertask .modal-body{
        background-color: #f7f5f5;
        padding: 0;
}

.sm-padding {
    padding-top: 40px;
    padding-bottom: 40px;
} table thead th select { max-width: 96%;
     position: absolute;     margin-top: -10px;}table td, table th {
    position: relative;    padding: 16px 12px;
} .viewtable {

    overflow-x: auto;
}  select.disabled-select { background: #eee } .input-icons i {
            position: absolute;
        }

        .input-icons {
            width: 100%;
            margin-bottom: 10px;
        }

        .icon {
            padding: 10px;
            min-width: 40px;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            text-align: left;
            padding-left: 30px;
        }

        /* .input-row{
            padding-bottom:.25em;
        } */


        .n-pad-l{
            padding-left:0;
            padding-right:5px;
        }

        .n-pad-r{
            padding-right:0;
            padding-left:5px;
        }
        .n-pad{
            padding-left:0;
            padding-right:0;
        }
        .title-contact{
            position: relative;
            margin:0;
        }

        .title-contact:after{
            content:"";
            display:block;
            height: 2px;
          position: absolute;
          width: 78%;
          right: -5%;
          margin-top: -2.5%;
            background-color: #e5e5e5;
        }
        .add-more{
            color:#000;
            background: transparent;
            border:0;
            outline:0
        }
        .add-more:hover{
            color:#000;
            background: transparent;
            border:0;
            outline:0
        }

        .add-more:focus{
            color:#000;
            background: transparent;
            border:0;
            outline:0
        }

        .add-more a{
            color:#000;


        }
        .border-left{
            padding-top:15px;
            padding-bottom:15px;
            border-left:1px solid #e5e5e5;
        }
        .border-right{
            padding-top:15px;
            padding-bottom:15px;
            border-right:1px solid #e5e5e5;
        }

        .border-left h5{
            color:#000;
        }

        .t-b-padd{
            padding-top:0;
            padding-bottom:0;
        }

        .modal-header h4{
            color:#000;
        }

        .btn-save{
            background-color:#000;
            color:white;
            border:none;
            font-family:'Segoe UI';
            font-size:12px;
           width:60px;
           height:30px;
        }
.modal-footer{
    border-top:2px solid #e5e5e5;
}

.new-tag{
    padding:.25em .5em;
    background-color:#000;
    color:white;
    border:none;
    font-family:'Segoe UI';
    font-size: 10px;
    position:absolute;
    right: 0;
    margin-top: -10.5%;
    margin-right: 25px;


}

.remove{
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* .modal{
    z-index:99999999999999999999999;
} */

#loader-footer {
    z-index: 9999999;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    position: absolute;
    left: 45%;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #000000fa;
    display: none;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }
